.nav-bar{
    Height: 60px;
    font-size: 17px;
}

.nav-bar-title{
    font-size:30px;
    padding-right: 55px;
    font-family: Roboto,sans-serif;
}
/* .image{
    text-align: center;
    margin-top: 20px;
} */

.content{
    margin-top: 10px;
}
.body-title{
    margin-top: 50px;
}
/* #contactDetails {
	float: right;
} */
.p-IIT{
    font-size: 16px;
}
footer{
    margin-top: 50px;
}